<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserDb"
			 connectionString="Data Source=DESKTOP-SQFPDV4\SQLEXPRESS;Initial Catalog=GYMS;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>